<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div>
	<ul>
	  <li><a class="active" href="/">Home</a></li>
	  <li><a href="news">News</a></li>
	  <li><a href="contact">Contact</a></li>
	  <li><a href="about">About</a></li>
	</ul>
</div>
<div class="container">
	<br>
	<br>
	<br>
	<br>
	<form action="/">
		<select name="country" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
			<option selected disabled> Country </option>
            <option th:each="country : ${countries}" th:value="${country.id}" th:utext="${country.value}"/>
		</select>
		<select name="county" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
			<option selected disabled> County </option>
            <option th:each="county : ${counties}" th:value="${county.id}" th:utext="${county.value}"/>
		</select>
		<select name="location" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
			<option selected disabled> Location </option>
            <option th:each="location : ${locations}" th:value="${location.id}" th:utext="${location.value}"/>
		</select>
		<select name="spots" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
			<option selected disabled>Spot</option>
			<option th:each="spot : ${spots}" th:value="${spot.id}" th:utext="${spot.value}"/>
		</select>
		<input type="submit" class="btn btn-success" value="Filter">
	</form>
	<br>
	<div>
		<table>
		<thead>
		<tr> 
			<th>Spot name</th>
			<th>Location</th>
			<th>County</th>
			<th>Country</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Price/Day</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="spot : ${spots}">
			<td th:text ="${spot.value}"></td>
			<td th:text ="${spot.location.value}"></td>
			<td th:text ="${spot.location.county.value}"></td>
			<td th:text ="${spot.location.county.country.value}"></td>
			<td th:text ="${spot.startDate}"></td>
			<td th:text ="${spot.endDate}"></td>
			<td th:text ="${spot.dailyPrice}"></td>
		</tr>
		</tbody>
		</table>
	</div>
	<div class="space"></div>
	<form action="/spots" method="get">
		<input type="submit" class="btn btn-success" value="Submit">
	</form>	
</div>
<hr>

<form method="post" action="/createCountry">
    <input type="text" name="id" value="" />
    <input type="text" name="value" value="" />
    <input type="text" name="abbreviation" value="" />
    <input type="submit" value="Register"/>
</form>

</body>
</html>