<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div>
	<ul>
	  <li><a class="active" href="/">Home</a></li>
	  <li><a href="news">News</a></li>
	  <li><a href="contact">Contact</a></li>
	  <li><a href="about">About</a></li>
	</ul>
</div>
<div class="container">
	<div class="space"></div>
	<div>
		<table>
		<tr>
			<th>Spot name</th>
			<th>Location</th>
			<th>County</th>
			<th>Country</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Price/Day</th>
		</tr>
		<tr th:each="spot : ${spots}">
			<td th:text ="${spot.value}"></td>
			<td th:text ="${spot.location.value}"></td>
			<td th:text ="${spot.location.county.value}"></td>
			<td th:text ="${spot.location.county.country.value}"></td>
			<td th:text ="${spot.startDate}"></td>
			<td th:text ="${spot.endDate}"></td>
			<td th:text ="${spot.dailyPrice}"></td>
		</tr>
		</table>
	</div>
	<div class="space"></div>
	<form action="/spots" method="get">
		<input type="submit" class="btn btn-success" value="Submit">
	</form>	
</div>
</body>
</html>